<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Messages</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="messages-container">
    <div *ngFor="let convo of conversations" class="message-card">
      <ion-item
        [routerLink]="['/messages', convo.id]"
        lines="none"
        [queryParams]="{ name: convo.name, avatar: convo.avatar }"
      >
        <ion-avatar slot="start">
          <img [src]="convo.avatar" alt="Avatar {{ convo.name }}" />
        </ion-avatar>
        <ion-label>
          <h2>{{ convo.name }}</h2>
          <p>{{ convo.lastMessage }}</p>
        </ion-label>
        <ion-note slot="end" color="medium">{{ convo.time }}</ion-note>
      </ion-item>
    </div>
  </div>
</ion-content>
