.messages-container {
  padding: calc(var(--ion-safe-area-top) + 4.5rem) 16px 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem; /* ESPACE ENTRE CHAQUE CONVERSATION */
}

.message-card {
  border-radius: 1.5rem;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

ion-item {
  --padding-start: 12px;
  --inner-padding-end: 12px;
}

ion-label h2 {
  font-size: 1rem;
  font-weight: 600;
  color: #2d2d2d;
}

ion-label p {
  font-size: 0.9rem;
  color: #6b6b6b;
}

ion-note {
  font-size: 0.75rem;
}
