<ion-app>
  <ion-header>
    <ion-toolbar class="coliving-toolbar">
      <div class="coliving-toolbar-content">
        <!-- Logo -->
        <div class="coliving-logo">
          <img src="assets/icon/Logo final Cosphere.png" alt="Coliving" />
        </div>

        <!-- Liens -->
        <div class="coliving-nav-buttons">
          @for (p of appPages; track p; let i = $index) {
          <ion-button
            routerLink="{{ p.url }}"
            routerLinkActive="selected"
            fill="clear"
          >
            <ion-icon
              slot="start"
              [ios]="p.icon + '-outline'"
              [md]="p.icon + '-sharp'"
            >
            </ion-icon>
            {{ p.title }}
          </ion-button>
          }
        </div>

        <!-- Bouton profil / connexion -->
        @if (currentUser$ | async; as user) {
        <!-- Utilisateur connecté -->
        <ion-button routerLink="/profil" fill="clear">
          <ion-icon name="person-circle-outline"></ion-icon>
          {{ user.username }}
        </ion-button>
        } @else {
        <!-- Utilisateur non connecté -->
        <ion-button fill="clear" routerLink="/login">
          <ion-icon name="person-circle-outline"></ion-icon>
          Se connecter
        </ion-button>
        }
        <!-- Actions -->
        <div class="coliving-right-actions">
          <ion-icon name="globe-outline"></ion-icon>

          <!-- Hamburger -->
          <ion-button class="menu-toggle" fill="clear">
            <ion-icon name="menu-outline"></ion-icon>
          </ion-button>
        </div>
      </div>
    </ion-toolbar>
  </ion-header>

  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
