<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Nos Services</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="services-container">
    @for (service of services; track services) {
    <div class="service-card">
      <ion-img [src]="service.image" alt="{{ service.title }}"></ion-img>
      <div class="service-info">
        <h2>{{ service.title }}</h2>
        <p>{{ service.description }}</p>
      </div>
    </div>
    }
  </div>
</ion-content>
