<ion-content class="ion-padding" fullscreen="true">
  @for (section of sections; track section.titre) {
  <div class="section-container">
    <h2>{{ section.titre }}</h2>
    <div style="display: flex; align-items: center; gap: 0.5rem">
      <ion-button fill="clear" (click)="scrollLeft(section.titre)">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
      <div
        class="horizontal-scroll"
        #scrollContainers
        [attr.data-section]="section.titre"
      >
        @for (annonce of section.annonces; track annonce.id) {
        <ion-card class="horizontal-card">
          <ion-card-header>
            <ion-card-title>{{ annonce.titre }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>{{ annonce.description }}</p>
            <p>Prix par jour : {{ annonce.prixJournee }} €</p>
            <p>Places : {{ annonce.nbPlaces }}</p>
            <p>Mixte : {{ annonce.mixte ? 'Oui' : 'Non' }}</p>
          </ion-card-content>
        </ion-card>
        }
      </div>
      <ion-button fill="clear" (click)="scrollRight(section.titre)">
        <ion-icon slot="icon-only" name="chevron-forward-outline"></ion-icon>
      </ion-button>
    </div>
  </div>
  }
</ion-content>
