<ion-content class="ion-padding">
  <div class="chat-container">
    <div class="message received">
      Bonjour, je suis intéressé par l'annonce.
    </div>
    <div class="message sent">Bonjour, elle est toujours dispo :)</div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-input placeholder="Écrire un message..."></ion-input>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="send"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
